<% provide(:title, "Home page") %>

<section class="jumbotron text-center">
  <div class="container" style="padding-bottom: 17px">
    <h1 class="jumbotron-heading">Welcome to home page of "PhotoContest"!</h1>
    <% if !logged? %>
      <p class="lead text-muted">To auth, please click your preferable social network:</p>
      <p>
        <%= link_to "Facebook", 'auth/facebook ', class: "btn btn-lg btn-primary" %>
        <%= link_to "VKontakte", 'auth/vkontakte', class: "btn btn-lg btn-primary" %>
      </p>
    <% else %>
      <p class="lead text-muted">Would you like to post a photo?</p>
      <p>
        <%= link_to "+", new_post_url, class: "btn btn-lg btn-success" %>
    <% end %>
  </div>
  <%= render 'shared/posts_index' %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</section>
