
<% collection.each do |comment| %>
<div class="container">
  <div class="row" style="margin-top: 5px">
    <div class="col-sm-1">
      <div class="thumbnail">
        <img class="img-responsive user-photo" src=<%= comment.user.image_url %>>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= link_to comment.user.full_name, comment.user %></strong> <span class="text-muted"> <%time_ago_in_words(comment.created_at)%> </span>
        </div>
        <div class="panel-body">
          <%= comment.body %>
        </div>
      </div>
      <% if current_user?(comment.user) %>
        <%= link_to "Delete comment", comments_path,class: "btn btn-sm btn-outline-danger" ,method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
      <div class="reply-form" style="margin-top:15px">
        <%= form_for :comment, url: comments_comments_path(comment) do |f| %>
          <%= f.text_area :body, size:"20x1", placeholder: "Add a Reply" %><br/>
          <%= f.submit "Reply" %>
        <% end %>
      </div>
      <%= render partial: 'comments/comment1', locals: {collection: comment.comments} if comment.comments.present? %>
    </div>
  </div>
</div>
<% end %>