<% collection.each do |comment| %>
  <div class="container">
    <div class="row" style="margin-top: 5px">
      <div class="col-sm-1">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src=<%= comment.user.image_url.url %> alt="UserPhoto" style="border-radius: 50%" height="50" width="50" />
        </div>
      </div>

      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= link_to comment.user.full_name, comment.user %></strong> <span class="text-muted"> <% time_ago_in_words(comment.created_at) %> </span>
          </div>
          <div class="panel-body">
            <%= comment.body %>
          </div>
        </div>
        <% if current_user?(comment.user) %>
          <%= link_to "Delete comment", post_comment_path(@post, comment.id), class: "btn btn-sm btn-outline-danger", method: :delete, data: {confirm: "You sure?"} %>
        <% end %>
        <div class="reply">
          <%= render 'shared/reply_form', info: {parent_comment_id: comment.id, post_id: comment.post.id} if comment.present? %>
        </div>
        <%= render partial: 'comments/comment', locals: {collection: comment.replies} if comment.replies.present? %>
      </div>
    </div>
  </div>
<% end %>