<% provide(:title, @user.full_name) %>

<% render 'shared/form_errors', object: @user %>

<%= form_for(@user) do |f| %>
  <form class="container">
    <h1>Update user info</h1>
    <hr>
    <!-- edit form column -->
    <form class="col-md-9 personal-info">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-lg-8">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-8">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-8">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlFile1">Upload a photo here</label>
          <%= f.file_field :image_url, accept: 'image/jpg,image/gif,image/png,image/jpeg' %>
        </div>

        <div class="col-md-8">
          <%= f.submit "Save", class: "btn btn-secondary" %>
          <span></span>
          <input type="reset" class="btn btn-secondary" value="Restore">
        </div>
      </form>
    </form>
  </form>
  <hr>
<% end %>

<p>Your authenticity token is: <%= current_user.authenticity_token %></p>
<%= link_to set_auth_token_user_path(current_user.id),
            data: {confirm: 'Are you sure?'},
            class: 'btn btn-sm btn-info',
            method: :post do %>
  Get new auth token
<% end %>
