<% provide(:title, @user.full_name) %>

<section class="jumbotron text-center">
  <div class="container" style="padding-bottom: 17px">
    <img src=<%= @user.image_url %> alt='User'/>
    <h1 class="jumbotron-heading"><%= @user.full_name %></h1>
    <% if current_user?(@user) %>
      <p class="lead text-muted">Would you like to post a photo?</p>
      <p>
        <%= link_to "+", new_post_url, class: "btn btn-lg btn-success" %>
      </p>
    <% end %>
  </div>
  <%= render 'shared/post_state_sorting' %>
  <%= render 'shared/posts_index' %>
</section>
